.container{
    background-color:white;
    border-radius: 10px;
    margin:10px;
}
.header{
    font-size:20px;
    color:black;
    padding:10px 20px;
    font-weight: bold;
}
.content{
    font-size:12px;
    color:black;
    padding:10px 20px;
}